body {
display: flex;
justify-content: center;
align-items: center;
color: #222;
}


.container {
background: #fff;
padding: 25px 35px;
border-radius: 12px;
width: 350px;
box-shadow: 0 4px 20px rgba(0,0,0,0.2);
text-align: center;
}


h1 {
margin-top: 0;
font-size: 26px;
color: #4a36d3;
}


.subtitle {
font-size: 14px;
color: #555;
margin-bottom: 20px;
}


.inputs input {
width: 100%;
padding: 10px;
margin: 8px 0;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 15px;
}


button {
width: 100%;
padding: 12px;
margin-top: 10px;
background-color: #4a36d3;
color: white;
font-size: 16px;
border: none;
border-radius: 8px;
cursor: pointer;
transition: 0.3s;
}


button:hover {
background-color: #3a28aa;
}


.resultado {
margin-top: 20px;
padding: 15px;
background: #f5f5ff;
border-radius: 10px;
}


.hidden {
display: none;
}